.home-container {
    height: 40rem;
    width: 100%;
    position:relative;
    background-image: url('../../Images/home-bg.png');
    background-size: cover;
    z-index: -50;   
}
.home-container::after{
    height:40rem;
    content: '';
    position: absolute; 
    top: 0;
    width: 25%;
    right: 0;
    background-color: #F87431;
    opacity: 0.96;
    z-index: -50;
}